<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Uniguesser</title>
        <link rel="stylesheet" href="/stylesheets/game.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
        <script src='/javascripts/game.js' defer></script>
    </head>
    <body>
        <header>
            <!-- Title Banner -->
            <div id=banner>
                <h1>UNIGUESSER</h1>
            </div>
        </header>
        <main>
            <div id="overlay">
                <div id="notification"></div>
            </div>

            <!-- Left grid column -->
            <div id="options" class="window">
                <select name="schools" id="schools">
                    <option value="" selected disabled hidden>Select a school</option>
                    <option value="Dalhousie">Dalhousie University</option>
                    <option value="McGill">McGill University</option>
                    <option value="SFU">Simon Fraser University</option>
                    <option value="UBC">University of British Columbia</option>
                    <option value="UofT">University of Toronto</option>
                    <option value="UofA">University of Alberta</option>
                </select>
                <br>
                <button id="confirm">Confirm</button>
            </div>

            <!-- Middle grid column -->
            <div id="game-window">
                <div id="photo-container">
                    <p id="location_counter"></p>
                    <!-- Temporary start game and end game buttons for testing -->
                    <button id="start-button">Start game</button>
                    <button id="end-button">End game</button>
                    <img id="campus-photo" src="" />
                </div>
            </div>

            <!-- Right grid column -->
            <div id="score-keeper" class="window">
                <p> Score: <span id="score">0</span> </p>
                <p> Timer: <time id="timer">0</time> </p>
                <p> High Score: <time id="high_score">2:00</time> </p>
            </div>
        </main>
    </body>
</html>