<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High Scores</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/high_scores.css" />
    <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
    <script src="/javascripts/index.js" defer></script>
    <script src="/javascripts/scores.js" defer></script>
  </head>
  <body>
    <%- include('partial/_header') %>
    <main>
      <div id="selection-window">
        <select
          name="high_score"
          id="high_score_select"
          onchange="changeFunc();"
        >
          <option value="Global" selected>Global High Scores</option>
          <!-- <option value="National">National High Scores</option>
          <option value="Regional">Regional High Scores</option> -->
          <option value="Personal">Personal High Scores</option>
        </select>
      </div>

      <div id="table-window">
        <table id="high_score_table">
          <th>Username</th>
          <th>Score</th>
          <th>Time</th>
          <th>Date</th>
          <th>Country</th>

          <!-- <% for (i=0;i<20;i++) {%>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <% } %> -->
        </table>
      </div>
    </main>
  </body>
</html>
