<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
        <script src='/javascripts/index.js' defer></script>
    </head>
    <body>
        <!-- Title Banner -->
        <div id=banner>
            <h1>UNIGUESSER</h1>
        </div>
        <main>
            <!-- Temporary start game button for testing -->
            <button id="start-button">Start game</button>
            <button id="highscore-button">Go to high score page</button>
        </main>
    </body>
</html>