<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
        <script src='/javascripts/index.js' defer></script>
    </head>
    <body>
        <!-- Title Banner -->
        <div id=banner>
            <h1>UNIGUESSER</h1>
        </div>
        <% if (!session.user_id) { %>
            <form action="/auth/login-or-register" method="POST">
                <div>
                    <label>Username</label>
                    <input type="text" name="username" />
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <input type="submit" type="submit" name="action" value="login" />
                    <input type="submit" type="submit" name="action" value="register" />
                </div>
            </form>
            <% } else { %>
            <div>
                <!-- Temporary start game button for testing -->
                <button id="start-button">Go to game page</button>
                <button id="highscore-button">Go to high score page</button>
                <form style="display: inline-block;" action="/auth/logout" method="POST">
                    <input type="submit" type="submit" value="Logout" />
                </form>
            </div>
            <% } %>
        </main>
    </body>
</html>