<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
        <script src='/javascripts/index.js' defer></script>
    </head>
    <body>
        <header>
            <div class="logo">UNIGUESSER</div>
            <% if (session.user_id) { %>
                <nav>
                    <a href="/" id="home-button" class="nav-option selected-page">
                      <div>Home</div>
                    </a>
                    <a href="/games" id="game-button" class="nav-option">
                      <div>Play Game</div>
                    </a>
                    <a href="/scores" id="scores-button" class="nav-option">
                      <div>High Scores</div>
                    </a>
                    <a href="/gallery" id="gallery-button" class="nav-option">
                      <div>Gallery</div>
                    </a>
                    <a id="logout-button" class="nav-option">
                      <div>Logout</div>
                    </a>
                  </nav>
            <% } %>
        </header>
        <main>
            <% if (!session.user_id) { %>
                <div id="login-form-container">
                    <form id="login-form" action="/auth/login-or-register" method="POST">
                        <div>
                            <label>Username</label>
                            <input type="text" name="username" />
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="password" name="password" />
                        </div>
                        <div id="auth-buttons">
                            <input type="submit" type="submit" name="action" value="login" />
                            <input type="submit" type="submit" name="action" value="register" />
                        </div>
                    </form>
                </div>
<<<<<<< HEAD
            </form>
=======
>>>>>>> dac00bdc4afd7769c26228e35fb60a55fd04e477
            <% } else { %>
                <div id="profile-container">
                    <h2>Logged in as:</h2>
                    <table align="center">
                        <tr>
                            <th>Username</th>
                        </tr>
                        <tr>
                            <td><%=session.username%></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td><%=session.email%></td>
                        </tr>
                    </table>
                    
                </div>
            <% } %>
        </main>
    </body>
</html>