<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-3.6.0.min.js" defer></script>
    <script src='/javascripts/index.js' defer></script>
    <script src='/javascripts/profile.js' defer></script>
</head>
<body>
    <%- include('partial/_header') %>
    <main>
        <h1>Welcome, <%= info.username %>! </h1>

        <label for="login">LOGIN INFORMATION</label>
        <ul class="container" name="login">
            <li>USERNAME: <%= info.username %></li>
            <li id="password"> PASSWORD: <button id="pw_btn" onclick="togglePW()">SHOW</button></li>
        </ul>

        <label for="personal">PERSONAL INFORMATION</label>
        <ul class="container" name="personal">
            <li>COUNTRY: <%= info.country %></li>
        </ul>
    </main>
</body>
</html>