/* Tried imitating the css styling from https://www.antdv.com/ */

main {
    vertical-align: middle;
    align-items: center;
}

#registration-form {
    display: none;
}

.tabbed-card {
    border-collapse: collapse;

    width: 401px; /*400 px + 1px border in the middle*/
    height: auto;

    margin-top: 200px;
    border: 1px solid #e8e8e8;
}

#tabs {
    line-height: 50px;
}

.tabbed-card th {
    height: 100%;
    width: 50%;
    text-align: center;

    font-weight: normal;
}

.tabbed-card th:hover {
    cursor: pointer;
}

.tabbed-card .selected-tab div {
    display: inline-block;
    height: 100%;
    color: #1890ff;
    font-weight: bold;
    box-shadow: 0px 2px;
}

#form-row{
    border: 1px solid #e8e8e8;
    align-content: center;
}

#login-form, #registration-form {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-form div, #registration-form div {
    margin-bottom: 20px;
}

#login-form label, #registration-form label {
    display: inline-block;
    width: 100px;
}

#auth-buttons {
    /*100px + padding of labels/inputs in order to align with inputs*/
    padding-left: 105px;
}

#auth-buttons input{
    padding: 8px;
    width: 100px;

    border: 1pt white solid;
    background-color: #1890ff;
    border-radius: 4px;
    text-align: center;

    font-size: 16px;
    color: white;
    outline: none;
}

#auth-buttons input:hover{
    cursor: pointer;
}

.flash {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.flash.success {
    color: rgb(77, 223, 64);
}
.flash.error {
    color: rgb(255, 90, 90);
}