main {
  display: grid;
  grid-template-columns: 30% 30% 25%;
  grid-column-gap: 5%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Middle grid column */
#game-window {
  text-align: center;
}

#photo-container {
  border: 1px black solid;
  width: 100%;
  height: 500px;
}

#campus-photo {
  width: 100%;
}

/* Right grid column */