/* Default styles for app */

#banner {
    text-align: center;
    padding: 15px;
    background-color: beige;
    margin-bottom: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}